*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
:root{
    --bg-color: linen;
    --second-bg-color: #f9f9f9;
    --text-color: black;
    --second-color: #161616;
    --main-color: goldenrod;
    --other-color: #6a6a6a;
    --big-font: 5.7rem;
    --h2-font: 3.8rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
